################## n8n ENV ###################
# 替換 ... = "http://{IP}:5678"

N8N_BRANCH=

N8N_TAG=
N8N_EMAIL=
N8N_PASSWORD=
N8N_FIRSTNAME=
N8N_LASTNAME=

N8N_BASE_URL=""
N8N_SETUP_URL=.../owner/setup
N8N_LOGIN_URL=.../rest/login
N8N_SURVEY_URL=.../rest/me/survey
N8N_GET_API_URL=.../rest/api-keys
N8N_API_URL=.../api/v1.0/workflows

N8N_API_KEY=

################## DIFY ENV ##################
# 替換 ... = "http://{IP}"

DIFY_BRANCH=

DIFY_TAG=
DIFY_EMAIL=
DIFY_NAME=
DIFY_PASSWORD=

DIFY_SETUP_URL=.../console/api/setup
DIFY_LOGIN_URL=.../console/api/login
DIFY_IMPORT_URL=.../console/api/apps/imports
API_KEY_BASE=.../console/api/apps
